{% extends 'base.html.twig' %}

{% block title %}Hello CrudController!{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
{#        <div class="flash-notice">#}
            {{ message }}
        </div>
    {% endfor %}
    <div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
        {% for p in products %}

                <tr>
                    <th scope="row">{{ p.id }}</th>
                    <td>
                        <a href="{{ path('crud.details', {id: p.id}) }}">
                            {{ p.name }}
                        </a>
                    </td>
                    <td>
                        <a class="text-danger" href="{{ path('crud.delete', {id: p.id}) }}">
                            Delete
                        </a>
                    </td>
                </tr>
        {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}
